.table {
    display: table;
    width: 100%;
}

.row {
    display: table-row;
    background-color: #CFE2F3;
}

.even {
    background-color: #D9EAD3;
}

.odd {
    background-color: #FFF2CC;
}

.cell {
    display: table-cell;
    padding: 10px;
    border: 1px solid #ccc;
    padding: 2vh;
}

.container {
    margin: 100px 100px;
    text-align: center;
}